version : '3.8'

services :
  influxdb: 
      image: influxdb:2.7 
      container_name : influxdb
      restart :  unless-stopped 
      ports : 
        - "8086:8086"
      volumes : 
        - ./data:/var/lib/influxdb2
        - ./config:/etc/influxdb2
      environment:
        DOCKER_INFLUXDB_INIT_MODE: setup
        DOCKER_INFLUXDB_INIT_USERNAME: admin 
        DOCKER_INFLUXDB_INIT_PASSWORD: admin1234
        DOCKER_INFLUXDB_INIT_ORG: local-org
        DOCKER_INFLUXDB_INIT_BUCKET: metrics
        DOCKER_INFLUXDB_INIT_RETENTION: 30d
        DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: local-dev-admin-token 