version: '3.9'

services: 
  chromadb:
    image:  chromadb/chroma
    container_name: chroma
    ports: 
      - "8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - PERSIST_DIRECOTRY=/chroma/chroma
    restart: unless-stopped 
